@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=RocknRoll+One&display=swap');
:root {
   --color-1: #F6EACB;
   --color-2: #03346E;
   --color-3: #3FA2F6; ;
   --color-4: #021526; ;

   --fuente-Inter: 'Inter', sans-serif;
   --fuente-rocknroll: "RocknRoll One", sans-serif;
   --fuente-nunito: "Nunito", sans-serif;

}

/* Reset global para padding y margin */
* {
   padding: 0;
   margin: 0;
}

body{
   box-sizing: border-box;
   background-color: var(--color-4);
   overflow-x: hidden;
   
}
.Presentacion{
   padding: 1% 3% 3% 7%;
   display: flex;
   justify-content:space-between;
   position: relative;

}

.Logo__Encabezado {
   padding: 4% 0% 0% 4%;
   width: 5%;
   height: 9vh;
}

.Imput__Texto {
   width: 50%;
   height: auto;
   resize: none; /* Desactiva el cambio de tamaño */
   outline: none; /* Sin borde al enfocarse */
   border: none;/* Sin borde */
   color: var(--color-3);
   background-color:var(--color-4);
   font-family: var(--fuente-nunito);
   font-size: 1.8rem;
   font-weight: 300;
   overflow: hidden; /* Oculta el contenido desbordado */
   overflow: auto;
}



::placeholder {
  
   color: var(--color-1);
   font-family: var(--fuente-rocknroll);
   font-size: 2.25rem;
   font-weight: 400;
}


.Resultado__Texto {
   display: flex;
   flex-direction: column;
   align-items: center; /* Centra horizontalmente dentro de la columna */
   justify-content: center;
   width: 30%;
   height: 400px;
   color: var(--color-2);
   font-family: var(--fuente-Inter);
   font-size: 18px;
   font-weight: 400;
   overflow: hidden; /* Oculta el contenido desbordado */
   overflow: auto;
}
.Resultado__Texto img {
   position: absolute;
   left: 68%;
   color: var(--color-1);
   width: 18%;
}
.p_1 {
   position: absolute;
   left: 68%;
   top: 60%;
   color: var(--color-1);
   font-family: var(--fuente-rocknroll);
   font-weight: 700;
   width: 20%;
   text-align: center;
}
.p_2 {
   position: absolute;
   left:68%;
   top: 73%;
   color: var(--color-1);
   font-family: var(--fuente-nunito);
   width: 20%;
   text-align: center;
}
.p_3 {
   position: absolute;
   left:10%;
   top: 81%;
   font-size: 0.8rem;
   color: var(--color-1);
   font-family: var(--fuente-rocknroll);
   z-index: 3;
}
   .info_img{
      position: absolute;
      left:7.5%;
      top: 80.5%;
      width: 2%;
      
   }
   .alerta{
      position: absolute;
      left:0.8%;
      bottom: 9%;
      width: 10%;  
      background-color: var(--color-4);
      z-index: 1;
   }
   


.cont__botones {
   display: flex ;
   align-items: start;
   width:100%;
   height: 25vh;
   gap: 5%;
   padding: 0% 0% 0% 8%;
}

.Botones__encriptar{
   display: flex;
   width: 35%;
   height: 8.5vh;
   border-radius: 24px;
   font-family: var(--fuente-rocknroll);
   font-size: 1rem;
   font-weight: 600;
   color: var(--color-4);
   cursor: pointer;
   background-color: var(--color-3) ;
   border: 1px solid var(--color-1);
   align-items: center;
   justify-content: center;
   gap: 5%;
   transition: transform 0.3s ease; 
   z-index: 4;

}
.Botones__desencriptar{
   display: flex;
   width: 35%;
   height: 8.5vh;
   border-radius: 24px;
   font-family: var(--fuente-rocknroll);
   font-size: 1rem;
   font-weight: 600;
   color: var(--color-4);
   cursor: pointer;
   background-color: var(--color-1);
   border: 1px solid var(--color-3);
   align-items: center;
   justify-content: center;
   gap: 5%;
   transition: transform 0.3s ease; 
}


.boton_copiar,
.Botones__encriptar,
.Botones__desencriptar {
   transition: transform 0.3s ease; 
}

.boton_copiar:hover,
.Botones__encriptar:hover,
.Botones__desencriptar:hover {
   transform: scale(1.1);
}

.copiar{
   display: flex ;
   align-items: center;
   justify-content: start;
   width:80%;
   padding-left: 5%;

}

 .boton_reset {
  width: 3%;
  height: 5vh;
  background-color: var(--color-4);
  cursor: pointer;
  position: absolute;
  left: 52%;
  bottom: 98%;
  border-radius: 20px;
 }

 .reset_img {
   width: 55%;
}



.boton_copiar{
   width: 10%;
   position: absolute;
   left: 70%;
   height: 8.5vh;
   border-radius: 24px;
   color: var(--color-2);
   background-color: var(--color-1);
   border: 2px solid var(--color-3);
   cursor: pointer;
}
.copiar_img{
   width: 30%;
}

.icono_boton{
width: 25px;
height: 25px;

}

.mensaje-temporal {
   width: 10%;
   height: 5vh;
   color: #3ABEF9;
   background-color: var(--color-4);
   font-family: var(--fuente-rocknroll);
   border: none;
   cursor: pointer;
   position: absolute;
   left:85%;
   bottom: 9%;
   text-align: center;
}

.footer_cont{
display: flex;
flex-direction: column;
align-items: center;
justify-content: star;
padding-top: 1%;
width: 100%;  
height: 40vh;
color: var(--color-4);
font-family: var(--fuente-rocknroll);
gap: 10%;
background-color: var(--color-1);
text-align: center;
}

.footer_cont p {
   display: flex;
   align-items: center;
}

.redes{
  padding-top: 5%;
   width: 80%;
}