@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
   --color-1: #FFFFFF;
   --color-2: #0A3871;
   --color-3: #272727; ;

   --fuente-Inter: 'Inter', sans-serif;
}

/* Reset global para padding y margin */
* {
   padding: 0;
   margin: 0;
}

body{
   box-sizing: border-box;
   overflow: hidden;
}
.Presentacion{
   padding: 4% 4% 4% 12%;
   display: flex;
   justify-content:flex-start;
   gap: 25px;
   background-color: var(--color-1);
 
}

.Logo__Encabezado {
   padding: 4% 0% 0% 4%;
   width: 120px;
   height: 48px;
}

.Imput__Texto {
   width: 57%;
   height: 4.8%;
   resize: none; /* Desactiva el cambio de tamaño */
   outline: none; /* Sin borde al enfocarse */
   border: none;/* Sin borde */
   color: var(--color-2);
   font-family: var(--fuente-Inter);
   font-size: 32px;
   font-weight: 400;
   overflow: hidden; /* Oculta el contenido desbordado */
}
.Resultado__Texto p {
   margin-bottom: 17px; 
   color: var(--color-3);
   width: 90%;
}


::placeholder {
   color: var(--color-2);
   font-family: var(--fuente-Inter);
   font-size: 36px;
   font-weight: 400;
}


.Resultado__Texto {
   display: flex;
   flex-direction: column;
   align-items: center; /* Centra horizontalmente dentro de la columna */
   justify-content: center; /* Centra verticalmente dentro del contenedor */
   width: 30%;
   height: 94.4%;
   color: var(--color-2);
   font-family: var(--fuente-Inter);
   font-size: 18px;
   font-weight: 400;
   overflow: hidden; /* Oculta el contenido desbordado */
   text-align: center;
   max-width: 100vw; /* Limita el ancho al tamaño de la vista */
}

.cont__botones {
   display: flex ;
   align-items: center;
   justify-content: start;
   gap: 12%;
   padding: 0% 0% 0% 12%;
}

.Botones__desencriptacion{
   display: flex;
   justify-content: start;
   gap: 24%;
   

}

.boton_copiar{

}


.mensaje-temporal {}


